<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<!--WRITE TO CONSOLE-->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="TIME :: %date{ABSOLUTE}
								   %newlineCLASS :: %logger 
								   %newlineMETHOD :: %method 
								   %newlineLINE :: %line 
								   %newlineLEVEL :: [%level] 
								   %newlineMESSAGE :: %message 
								   %newlineEXCEPTION :: %exception 
								   %newlineMACHINENAME :: %username 
								   %newline%newline"/>
			</layout>
		</appender>
		<!--WRITE TO FILE(SINGLE)-->
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<!--LEVEL RANGE FILTER-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN"/> <!--this means we only gonna capture logs that are equal or greater than 'WARN' level.-->
				<levelMax value="ERROR"/> <!--this means we only gonna capture logs that are equal or lesser than 'ERROR' level.-->
			</filter>			
			<file value="C:\SaifilNinja\Source_Code\Web_Phx\Log4NetApp\Logs\MyLogFile.txt" />
			<appendToFile value ="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="TIME :: %date{ABSOLUTE}
								   %newlineCLASS :: %logger 
								   %newlineMETHOD :: %method 
								   %newlineLINE :: %line 
								   %newlineLEVEL :: [%level] 
								   %newlineMESSAGE :: %message 
								   %newlineEXCEPTION :: %exception 
								   %newlineMACHINENAME :: %username 
								   %newline%newline"/>
			</layout>
		</appender>
		<!--WRITE TO A FILE(MULTIPLE)-->
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--STRING MATCH FILTER-->
			<filter type="log4net.Filter.StringMatchFilter">
				<stringToMatch value="Maintenance"/> <!--this means we only gonna capture logs that has 'maintenance' keyword inside the message.-->
			</filter>
			<filter type="log4net.Filter.DenyAllFilter"/> <!--this means we will deny all filters but the matched one that is mentioned above for stringToMatch filter criteria.-->
			<file value="C:\SaifilNinja\Source_Code\Web_Phx\Log4NetApp\Logs\MyRollingLogFile.txt" />
			<appendToFile value ="true"/>
			<rollingStyle value="Size"/>
			<maximumFileSize value="1MB"/>
			<maxSizeRollBackups value="3"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="TIME :: %date{ABSOLUTE}
								   %newlineCLASS :: %logger 
								   %newlineMETHOD :: %method 
								   %newlineLINE :: %line 
								   %newlineLEVEL :: [%level] 
								   %newlineMESSAGE :: %message 
								   %newlineEXCEPTION :: %exception 
								   %newlineMACHINENAME :: %username 
								   %newline%newline"/>
			</layout>
		</appender>
		<!--WRITE TO SQL SERVER-->
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<!--LEVEL MATCH FILTER-->
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="FATAL"/> <!--this means we only gonna capture logs that has log level of 'ERROR'.-->
			</filter>
			<filter type="log4net.Filter.DenyAllFilter"/> <!--this means we will deny all filters but the matched one that is mentioned above for levelToMatch filter criteria.-->
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="data source=selecsoftware01; initial catalog=STRDMS_ALI;integrated security=true;" />
			<commandText value="dbo.procLogs_Insert" />
			<commandType value="StoredProcedure" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@log_thread" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_class" />
				<dbType value="AnsiString" />
				<size value="300" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_method" />
				<dbType value="AnsiString" />
				<size value="300" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%method" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_line" />
				<dbType value="AnsiString" />
				<size value="300" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%line" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_message" />
				<dbType value="AnsiString" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="AnsiString" />
				<size value="4000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<parameter>
				<parameterName value="@log_machinename" />
				<dbType value="AnsiString" />
				<size value="300" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%username" />
				</layout>
			</parameter>
		</appender>
		<!--WRITE TO EMAIL USING SMTP SERVER-->
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="4d720aa251-dcae27@inbox.mailtrap.io" />
			<from value="4d720aa251-dcae27@inbox.mailtrap.io" />
			<subject value="Test Logging Message For Log4NetApp" />
			<smtpHost value="smtp.mailtrap.io" />
			<port value="2525"/>
			<authentication value="Basic" />
			<username value="56059abeb63eae"/>
			<password value="24623212f08e73"/>
			<EnableSsl value="true" />
			<bufferSize value="3" />
			<lossy value="false" />
			<!--<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="TIME :: %date{ABSOLUTE}
								   %newlineCLASS :: %logger 
								   %newlineMETHOD :: %method 
								   %newlineLINE :: %line 
								   %newlineLEVEL :: [%level] 
								   %newlineMESSAGE :: %message 
								   %newlineEXCEPTION :: %exception 
								   %newlineMACHINENAME :: %username 
								   %newline%newline"/>
			</layout>
		</appender>
		<!--WRITE EVENT LOG USING EVENT SOURCE OF THE APPDOMAIN.FRIENDLYNAME-->
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
			<applicationName value="Log4NetApp" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="TIME :: %date{ABSOLUTE}
								   %newlineCLASS :: %logger 
								   %newlineMETHOD :: %method 
								   %newlineLINE :: %line 
								   %newlineLEVEL :: [%level] 
								   %newlineMESSAGE :: %message 
								   %newlineEXCEPTION :: %exception 
								   %newlineMACHINENAME :: %username 
								   %newline%newline"/>
			</layout>
		</appender>
		<root>
			<!--ORDER LEVEL (LOW TO HIGH) : DEBUG -> INFO -> WARN -> ERROR -> FATAL -> ALL -> OFF-->
			<level value="DEBUG"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="FileAppender"/>
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="AdoNetAppender"/>
			<appender-ref ref="SmtpAppender"/>
			<appender-ref ref="EventLogAppender"/>
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>